{% extends "base.html.twig" %}

{% block title %}Gestion Personnel - Poste{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1>Poste Information</h1>
        <a href=" {{ path('app_job') }} ">Retour</a>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>Titre</td>
                    <td><strong>{{ job.title }}</strong></td>
                </tr>
                <tr>
                    <td>Heure de Travail par mois</td>
                    <td><strong>{{ job.workHours }} heures</strong> </td>
                </tr>
                <tr>
                    <td>Salaire de Base</td>
                    <td><strong>{{ job.baseSalary | number_format(2, '.', ',') }} Ariary</strong></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td><strong>{{ job.description }}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}