{% extends 'base.html.twig' %}

{% block title %}Gestion Personnel - Employée{% endblock %}

{% block body %}
    <div class="container-fluid mt-3">
        <h1>Employée Information</h1>

        <table class=" mt-4 table table-hover table-bordered">
            <thead>
                <tr>
                <th scope="col">Matricule</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Date de Naissance</th>
                <th scope="col">Numero CIN</th>
                <th scope="col">Sexe</th>
                <th scope="col">Nationalité</th>
                <th scope="col">Status Familiale</th>
                <th scope="col">Titre</th>
                <th scope="col">Phone</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">{{ employee.matricule }}</th>
                <td>{{ employee.name }}</td>
                <td>{{ employee.lastname }}</td>
                <td>{{ employee.dateOfBirth | format_datetime('full', 'none', locale='fr') }}</td>
                <td>{{ employee.cin }}</td>
                <td>{{ employee.sexe ? "Homme" : "Femme" }}</td>
                <td>{{ employee.nationality }}</td>
                <td>{{ employee.familyStatus }}</td>
                <td>{{ employee.job }}</td>
                <td>{{ employee.phone }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
