{% extends 'base.html.twig' %}

{% block title %}Gestion Personnel - Charge{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1>Charges</h1>
            {% for message in app.flashes('success') %}
                <div class="mb-2 alert alert-success">
                      {{ message }}  
                </div>
            {% endfor %}
        <a href="{{ path('app_create_department') }}" class="btn btn-primary">Nouveau</a>
        <table class=" mt-4 table table-hover table-bordered">
            <thead>
                <tr>
                <th scope="col">Id</th>
                <th scope="col">Titre</th>
                <th scope="col">Part Salarial</th>
                <th scope="col">Part Patronale</th>
                <th scope="col">Date de création </th>
                <th scope="col">Avantages </th>
                <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for charge in charges %}
                    <tr>
                    <th scope="row">{{ charge.id }}</th>
                    <td>{{ charge.title }}</td>
                    <td>{{ charge.partSalarial }}</td>
                    <td>{{ charge.employerContribution }}</td>
                    <td>{{ charge.avantages }}</td>
                    <td>{{ charge.createdAt | format_datetime('full','none', locale="fr") }}</td>
                    <td class="d-flex justify-content-center">
                        <a href="{{ path('app_update_department', { id: charge.id }) }}" class="m-1 btn btn-dark">Modifier</a>
                        <a href="{{ path('app_delete_department', { id: charge.id }) }}" class="m-1 btn btn-warning">Supprimer</a>
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(charges) }}
        </div>
    </div>
{% endblock %}
